@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4CAF50; /* Green */
  --secondary-color: #FF9800; /* Orange */
  --text-color: #333; /* Dark Gray */
  --background-color: #f7fafc; /* Light Gray */
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #2d3748;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Example button style */
.btn-primary {
  @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded;
}

.glassmorphism {
  background-color: bg-white/10;
  backdrop-blur: blur(10px);
}
